/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed

# Ignore everything in storage/files/trainings folder except readme.md
/storage/files/trainings/trainings/*
!/storage/files/trainings/trainings/readme.md
# Ignore everything in storage/files/instances/files folder except readme.md
/storage/files/trainings/instances/files*
!/storage/files/trainings/instances/files/readme.md
# Ignore everything in storage/files/instances/files folder except readme.md
/storage/files/trainings/instances/invoices*
!/storage/files/trainings/instances/invoices/readme.md
# Ignore everything in storage/files/other/ie folder except readme.md
/storage/files/other/ie*
!/storage/files/other/ie/readme.md
# Ignore everything in storage/files/other/bodies folder except readme.md
/storage/files/other/bodies*
!/storage/files/other/bodies/readme.md

# Ignore everything in upload folder except readme.md
/public/files/upload/trainings/*
!/public/files/upload/trainings/readme.md
# Ignore everything in upload/other/ie folder except readme.md
/public/files/upload/other/ie*
!/public/files/upload/other/ie/readme.md
# Ignore everything in upload/other/bodies folder except readme.md
/public/files/upload/other/bodies*
!/public/files/upload/other/bodies/readme.md
