.gallery__wrapper{
    position: relative; width: 100%; border-radius: 8px; display: flex; gap: 20px; flex-wrap: wrap; padding: 0px;

    .image__out_wrapper{
        position: relative; width: calc(20% - 16px); min-height: 120px; background: #FFFFFF; border-top-left-radius: 4px; border-top-right-radius: 4px;

        .image__wrapper{
            position: relative; width: 100%; border-top-left-radius: 4px; border-top-right-radius: 4px; overflow: hidden; height: 220px;
            &:hover{cursor: pointer; }
            img{
                //position: relative; min-width: 100%; min-height: 100%; object-fit: cover; max-height: 150%; margin: auto;
                position: absolute;
                min-width: 100%; min-height:100%; max-height: 150%;
                top: 0%;
                left: 50%;
                transform: translate(-50%, -0%);
            }
            .btn_wrapper{
                position: absolute; right: 16px; top: 16px; z-index: 50; background: $yellow; padding: 4px 16px; border-radius: 4px;
                p{
                    color: #FFFFFF; margin: 0px; padding: 0px; font-size: 12px;
                }
            }
        }
        .gallery__text__wrapper{
            position: relative; width: 100%; display: flex; justify-content: space-between; padding: 16px;
            .gtw__left{
                position: relative; display: flex; justify-content: space-between; gap: 16px; align-items: flex-start;
                .gtw__image__wrapper{
                    position: relative; width: 40px; height: 40px; border-radius: 50%; background: $yellow; display: flex; justify-content: center; align-items: center;
                    p{
                        color: #FFFFFF; margin: 0px; padding: 0px; font-weight: bold;
                    }
                }
                .text__{
                    position: relative; display: flex; flex-wrap: wrap;
                    h6,p{margin:0px; padding: 0px;}
                    h6{font-size: 18px; font-weight: bold; }
                    p{width: 100%; font-size: 14px; color: #0006;}
                }
            }
            .right__part{
                position: relative; display: flex; align-items: flex-start;

                .views{
                    display: flex; gap: 8px; justify-content: flex-end;
                    img{
                        height: 14px;
                    }
                    p{font-size: 14px;}
                }
            }
        }
    }
}
