/* Authentication style */

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "bootstrap/scss/bootstrap";

@import 'bootstrap-datepicker/dist/css/bootstrap-datepicker.css';

/* Notify */
@import "style/colors";
@import "style/layout/notify";

// $primaryColor : #3D1F5F;
$primaryColor: $blue;
// $secondaryColor : #F86624;
$secondaryColor : $yellow;

html{
    body{
        position: relative;
    }
    a{
        text-decoration: none; color: #000000;
    }
}

/* Layout styles */
//@import "style/layout/notify";
//@import 'style/layout/jquery-ui.css';

/* Snippets */
//@import "style/snippets/classes";

@import "public-part/auth/auth";
@import "public-part/auth/create-account";

/**
 *  User data
 */
@import "user-data/user-data";
