/**
 *  Define colors
 */

$left-menu-w : 320px;
$primaryColor : #3D1F5F;
$secondaryColor : #F86624;

body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; letter-spacing: 0.0px; padding: 0px; margin:0px;
    a{
        text-decoration: none; color: #333333;
    }
}
@import "../style/colors";

@import "/node_modules/select2/dist/css/select2.css";

@import "layout/menu";
@import "layout/content";
@import "layout/filters";
@import "layout/default";

/**
 *  Dashboard
 */
@import "app/dashboard";

/**
 *  Trainings
 */
@import "app/trainings/right-menu";
@import "app/trainings/modals";

.text{
    color:red;
    background:blue;
    font-size:10px;

    .hello{
        background:red;
    }
}

.form-control{
    border:1px solid rgba(0,0,0,0.1); padding: 6px 16px; margin-top: 4px; margin-bottom:4px;
}
// Override outline styles for focusable elements
/* Smooth yellow shadow effect */
.btn:focus,
.form-control:focus,
.nav-link:focus,
.dropdown-item:focus {
    outline: 1px solid #FDB833 !important;
    border:1px solid rgba(0,0,0,0.01);
    box-shadow: 0 0 8px #FDB833; /* Add a soft yellow shadow */
    transition: box-shadow 0.2s ease-in-out; /* Smooth transition for focus */
}



